{{template "header" .}}
<h1>Edit company</h1>
<form class="stack" method="post" action="/companies/{{.Company.ID}}">
  <label>Name <input name="name" required value="{{.Company.Name}}" autofocus></label>
  <label>Street name <input name="street_name" required value="{{.Company.StreetName}}" autocomplete="street-address"></label>
  <div class="street-row">
    <label>Building number <input name="building_number" required value="{{.Company.BuildingNumber}}"></label>
    <label>Apartment number <span class="hint">optional</span> <input name="apartment_number" value="{{.Company.ApartmentNumber}}"></label>
  </div>
  <div class="city-row">
    <label>Postal code <input name="postal_code" required value="{{.Company.PostalCode}}" autocomplete="postal-code"></label>
    <label>City <input name="city" required value="{{.Company.City}}"></label>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-tag">Save company</button>
    <a href="/companies">Cancel</a>
  </div>
</form>
{{template "footer" .}}
